# Copia este ficheiro para .env e preenche com os dados do Railway
# NÃO partilhes este ficheiro com ninguém

DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_USER=root
DB_PASS=XuwUBDdMPBMHDhvifRTgSRACxXrSZHrp
DB_NAME=railway
DB_SSL=true

PORT=3000
